body{
  margin: 0;
  padding: 0;
  background-image:url(foodbackground.jpg);
}
#header{
	position: absolute;
	font-size:45px;
	padding-left:50px;
}
.table{
	position: absolute;
	border-spacing:10px;
	width:40%;
	text-align:center;
	top:13%;

}


.slidershow{
  width: 35%;
  height: 50%;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}

.description p{
	position:absolute;
	bottom: 10%;
	width:34%;
	padding-left:50px;

}
.nutrition{
	position: absolute;
	right: 3%;
	top:5%;
}
#label{
	width:25%;
	height:25%;
}
#label:hover {
	width:35%;
	height:30%;

}
.ingredients{
	position: absolute;
	right:42%;
	top:5%;
}
#optional{
	color:#808080;
}
.instructions{
	position:absolute;
	right:25%;
	top:45%;
	width:35%;
}