body{
	background-image: url("https://codd.cs.gsu.edu/~jvo14/WP/PW/test/background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.content{
	width: 100%;
}


.buffer{
	float: left;
	width: 23%;
}

.leftcolumn{
	align-content: center;
	float: left;
	width: 43%;
	margin-right: 1%;
}

.rightcolumn{
	float: left;
	width: 33%;
}



h1{
	font-family: verdana;
	font-size: 48pt;
	text-align: center;
}

p{
	font-size: 20pt;
	color: darkblue;
	text-align: center;
}

.leftcolumn img{
	width: 100%;
	height: 70%;
	margin-right: auto;
	margin-left: auto;
	float: left;
}

ol{
	font-size: 20pt;
}

ul{
	font-size: 20pt;
}

h2{
	font-size: 30pt;
}


label{
	font-size: 20pt;
}

#optional{
	color:#808080;
}


.box{
	float: left;
	width: 100%;
}

.row1{
	height: 8px;
	background-color: #0C95A8;
	border:1px solid black;
}

.row:{
	float: left;
	height: 100px;
}

.column{
	float: left;
	width: 32%;
	border:1px solid black;
	text-align: center;
}


#number{
	font-size: 20pt;
	color: #0C95A8;
	font-weight: bold;
}

#word{
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

#end{
	font-size: 12pt;

}
