body{
  background-image: url("foodbackground.jpg");
  background-repeat: repeat-y;
  background-size: auto;
  background-position: center;

}

.content{
  width: 100%;
}


.buffer{
  float: left;
  width: 23%;
}

.leftcolumn{
  align-content: center;
  float: left;
  width: 43%;
  margin-right: 1%;
}

.rightcolumn{
  float: left;
  width: 33%;

}

.ingredients{
  transform: translateY(-100%);
}

.directions{
  transform: translateY(-65%);
}

h1{
  font-family: verdana;
  font-size: 48pt;
  text-align: center;
}

p{
  font-size: 20pt;
  color: darkblue;
  text-align: center;
}

.leftcolumn img{
  width: 100%;
  height: 70%;
  margin-right: auto;
  margin-left: auto;
  float: left;
}

ol{
  font-size: 20pt;
}

ul{
  font-size: 20pt;
}

h2{
  font-size: 30pt;
}


label{
  font-size: 20pt;
}

#optional{
  color:#808080;
}


.box{
  top: 65%;
  float: left;
  width: 100%;
}

.row1{
  height: 8px;
  background-color: #0C95A8;
  border:1px solid black;
}

.row:{
  float: left;
  height: 100px;
}

.column{
  float: left;
  width: 32%;
  border:1px solid black;
  text-align: center;
}


#number{
  font-size: 20pt;
  color: #0C95A8;
  font-weight: bold;
}

#word{
  font-size: 12pt;
  font-weight: bold;
  text-align: center;
}

#end{
  font-size: 12pt;

}
.slidershow{
  position:relative;
  left:50%;
  margin-top: 65%;
    width:65%;
  overflow: hidden;

  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  display: flex;
}

.slide{
  width: 20%;
  transition: 0.6s;
}
.slide img{
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
.slidershow2{
  position:relative;
  left:50%;
  top: 65%;
    width:65%;
  overflow: hidden;

  transform: translate(-50%,-50%);
}
.navigation2{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar2{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar2:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides2{
  width: 500%;
  display: flex;
}

.slide2{
  width: 20%;
  transition: 0.6s;
}
.slide2 img{
  width: 100%;
  height: 100%;
}

#r3:checked ~ .s1{
  margin-left: 0;
}
#r4:checked ~ .s1{
  margin-left: -20%;
}
#r5:checked ~ .s1{
  margin-left: -40%;
}
.nutritionlabel{
  position: absolute;
  right: -10%;
  top:5%;
}
#nutlabel{
  width:25%;
  height:20%;
  background-color: white;
}
#nutlabel:hover {
  width:50%;
  height:45%;
  background-color: white;
}
.featured{
position:absolute;
left:70%;
top:100%;
width:20%;
height:40%;
background-color: white;
}
.featured h2{
font-size:24px;
text-align:center;
}
.featured h3{
  text-align:center;
}

.featuredRecipes{
  background-color: white;
}
.featuredRecipes li{
  text-align:center;
  list-style-type:none;

}
.featuredRecipes img{
  width:20%;
  height:20%;
}

#featuredrecipe{
  width:100%;
  height:70%;
}

.featured p{
  background-color: white;
}

.parm:hover{
width:35%;
height:35%;
}
